*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    background:green;
}

nav h1{
    color:white;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:#f4f4f4;
}

.hero h2{
    font-size:3rem;
}

.hero p{
    margin:20px 0;
}

.hero button{
    padding:12px 25px;
    border:none;
    background:green;
    color:white;
    cursor:pointer;
}

.card img{
    width:50%;
    height:200px;
    object-fit:cover;
    border-radius:10px;
}